---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Neocountdown">
  <h1>Schedules</h1>
  <ul id="break-list">
    <li>
      <a href="/sunday">Sunday</a>
    </li>
    <li>
      <a href="/break1">Break Schedule 1</a>
    </li>
    <li>
      <a href="/break2">Break Schedule 2</a>
    </li>
    <li>
      <a href="/break3">Break Schedule 3</a>
    </li>
    <li>
      <a href="/break4">Break Schedule 4</a>
    </li>
    <li>
      <a href="/break5">Break Schedule 5</a>
    </li>
  </ul>
</Layout>

<style>
  body {
    padding: 10px 40px;
  }

  #break-list {
    list-style: none;
  }

  #break-list li {
    padding: 10px 0;
  }

  #break-list a {
    color: white;
  }

  #break-list a:hover {
    color: #1aff99;
  }
</style>
